<div class="modal-body d-flex flex-column justify-content-center align-items-center">
    <i class="fa fa-question-circle"></i>
    <p>Are you sure you want to log-off?</p>
</div>
<div class="modal-footer d-flex justify-content-center w-100">
    <a class="btn btn-primary" href="/logout/handle">Logout</a>
</div>